{% extends 'home_layout.html' %}



{% block content %}
    <div class="title-list">
        <div class="row-item">
            <div class="title">
                <a>第五篇：白话tornado源码之褪去模板的外衣</a>
            </div>
            <div class="tips">
                <span>武沛齐</span>
                <span>2016-10-08 15:30 </span>
                <span>
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    <span>1000</span>
                </span>
                <span>
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <span>1000</span>
                </span>
            </div>
        </div>
    </div>
{% endblock %}
